// Couleurs principales
$primary-color: #000000;
$secondary-color: #d34c42;
$background-color: #f8f9fa;
$text-color: #212529;
$hr-underscore: #2b2b2b;
// Espacements

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Bebas Neue", serif;

// Fonts size

$h1-size: 2.188rem;
$h2-size: 1.75rem;
$p-size: 1.25rem;
$nav-link-size: 1.5rem;
