/* Définition des polices principales */

//Variables pour les polices
h2,
h3,
body {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Titres */
h1,
.nav,
.btn {
  font-family: $font-secondary;
  font-weight: 400;
}
h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}

/* Textes paragraphe */
p {
  font-size: $p-size;
  font-weight: 400;
}
.nav-link {
  font-size: $nav-link-size;
}
.col h1,
.nav-link {
  text-decoration: underline; /* Surligner le texte */
  text-decoration-color: $secondary-color; /* Couleur du surlignage */
  margin-top: 0px;
}
